/**
 * @package    Keyword_Digger
 */

@import url("http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|RobotoDraft:400,100,300,500,700,900");
@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");

/* Scroll To Bottom */

#codepen,
#portfolio {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background: #363636;
    width: 56px;
    height: 56px;
    border-radius: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    color: #ffffff;
    text-align: center;
}

#codepen i,
#portfolio i {
    line-height: 56px;
}

#codepen:hover,
#portfolio:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}


/* CodePen */

#portfolio {
    bottom: 96px;
    right: 36px;
    background: #ed2553;
    width: 44px;
    height: 44px;
    -webkit-animation: buttonFadeInUp 1s ease;
    animation: buttonFadeInUp 1s ease;
}

#portfolio i {
    line-height: 44px;
}

.kd_login_container {
    position: relative;
    max-width: 460px;
    width: 100%;
    margin: 0 auto 100px;
}

.kd_login_container.active .kd_login_card:first-child {
    background: #f2f2f2;
    margin: 0 15px;
}

.kd_login_container.active .kd_login_card:nth-child(2) {
    background: #fafafa;
    margin: 0 10px;
}

.kd_login_container.active .kd_login_card.alt {
    top: 20px;
    right: 0;
    width: 100%;
    min-width: 100%;
    height: auto;
    border-radius: 5px;
    padding: 60px 0 40px;
    overflow: hidden;
}

.kd_login_container.active .kd_login_card.alt .kd_login_toggle {
    position: absolute;
    top: 40px;
    right: -70px;
    box-shadow: none;
    -webkit-transform: scale(10);
    transform: scale(10);
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease;
}

.kd_login_container.active .kd_login_card.alt .kd_login_toggle:before {
    content: '';
}

.kd_login_container.active .kd_login_card.alt .kd_login_title,
.kd_login_container.active .kd_login_card.alt .kd_login_input-container,
.kd_login_container.active .kd_login_card.alt .kd_login_button-container {
    left: 0;
    opacity: 1;
    visibility: visible;
    -webkit-transition: .3s ease;
    transition: .3s ease;
}

.kd_login_container.active .kd_login_card.alt .kd_login_title {
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
}

.kd_login_container.active .kd_login_card.alt .kd_login_input-container {
    -webkit-transition-delay: .4s;
    transition-delay: .4s;
}

.kd_login_container.active .kd_login_card.alt .kd_login_input-container:nth-child(2) {
    -webkit-transition-delay: .5s;
    transition-delay: .5s;
}

.kd_login_container.active .kd_login_card.alt .kd_login_input-container:nth-child(3) {
    -webkit-transition-delay: .6s;
    transition-delay: .6s;
}

.kd_login_container.active .kd_login_card.alt .kd_login_button-container {
    -webkit-transition-delay: .7s;
    transition-delay: .7s;
}


/* kd_login_card */

.kd_login_card {
    position: relative;
    background: #ffffff;
    border-radius: 5px;
    padding: 60px 0 40px 0;
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-transition: .3s ease;
    transition: .3s ease;
    /* kd_login_title */
    /* Inputs */
    /* Button */
    /* kd_login_footer */
    /* Alt kd_login_card */
}

.kd_login_card:first-child {
    background: #fafafa;
    height: 10px;
    border-radius: 5px 5px 0 0;
    margin: 0 10px;
    padding: 0;
}

.kd_login_card .kd_login_title {
    position: relative;
    z-index: 1;
    border-left: 5px solid #ed2553;
    margin: 0 0 35px;
    padding: 10px 0 10px 50px;
    color: #ed2553;
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
}

.kd_login_card .kd_login_input-container {
    position: relative;
    margin: 0 60px 50px;
}

.kd_login_card .kd_login_input-container input {
    outline: none;
    z-index: 1;
    position: relative;
    background: none;
    width: 100%;
    height: 60px;
    border: 0;
    color: #212121;
    font-size: 24px;
    font-weight: 400;
}

.kd_login_card .kd_login_input-container input:focus ~ label {
    color: #9d9d9d;
    -webkit-transform: translate(-12%, -50%) scale(0.75);
    transform: translate(-12%, -50%) scale(0.75);
}

.kd_login_card .kd_login_input-container input:focus ~ .kd_login_input-bar:before,
.kd_login_card .kd_login_input-container input:focus ~ .kd_login_input-bar:after {
    width: 50%;
}

.kd_login_card .kd_login_input-container input:valid ~ label {
    color: #9d9d9d;
    -webkit-transform: translate(-12%, -50%) scale(0.75);
    transform: translate(-12%, -50%) scale(0.75);
}

.kd_login_card .kd_login_input-container label {
    position: absolute;
    top: 0;
    left: 0;
    color: #757575;
    font-size: 24px;
    font-weight: 300;
    line-height: 60px;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
}

.kd_login_card .kd_login_input-container .kd_login_input-bar {
    position: absolute;
    left: 0;
    bottom: 0;
    background: #757575;
    width: 100%;
    height: 1px;
}

.kd_login_card .kd_login_input-container .kd_login_input-bar:before,
.kd_login_card .kd_login_input-container .kd_login_input-bar:after {
    content: '';
    position: absolute;
    background: #ed2553;
    width: 0;
    height: 2px;
    -webkit-transition: .2s ease;
    transition: .2s ease;
}

.kd_login_card .kd_login_input-container .kd_login_input-bar:before {
    left: 50%;
}

.kd_login_card .kd_login_input-container .kd_login_input-bar:after {
    right: 50%;
}

.kd_login_card .kd_login_button-container {
    margin: 0 60px;
    text-align: center;
}

.kd_login_card .kd_login_button-container button {
    outline: 0;
    cursor: pointer;
    position: relative;
    display: inline-block;
    background: 0;
    width: 240px;
    border: 2px solid #e3e3e3;
    padding: 20px 0;
    font-size: 24px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    overflow: hidden;
    -webkit-transition: .3s ease;
    transition: .3s ease;
}

.kd_login_card .kd_login_button-container button span {
    position: relative;
    z-index: 1;
    color: #ddd;
    -webkit-transition: .3s ease;
    transition: .3s ease;
}

.kd_login_card .kd_login_button-container button:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    background: #ed2553;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin: -15px 0 0 -15px;
    opacity: 0;
    -webkit-transition: .3s ease;
    transition: .3s ease;
}

.kd_login_card .kd_login_button-container button:hover,
.kd_login_card .kd_login_button-container button:active,
.kd_login_card .kd_login_button-container button:focus {
    border-color: #ed2553;
}

.kd_login_card .kd_login_button-container button:hover span,
.kd_login_card .kd_login_button-container button:active span,
.kd_login_card .kd_login_button-container button:focus span {
    color: #ed2553;
}

.kd_login_card .kd_login_button-container button:active span,
.kd_login_card .kd_login_button-container button:focus span {
    color: #ffffff;
}

.kd_login_card .kd_login_button-container button:active:before,
.kd_login_card .kd_login_button-container button:focus:before {
    opacity: 1;
    -webkit-transform: scale(10);
    transform: scale(10);
}

.kd_login_card .kd_login_footer {
    margin: 40px 0 0;
    color: #d3d3d3;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
}

.kd_login_card .kd_login_footer a {
    color: inherit;
    text-decoration: none;
    -webkit-transition: .3s ease;
    transition: .3s ease;
}

.kd_login_card .kd_login_footer a:hover {
    color: #bababa;
}

.kd_login_card.alt {
    position: absolute;
    top: 40px;
    right: -70px;
    z-index: 10;
    width: 140px;
    height: 140px;
    background: none;
    border-radius: 100%;
    box-shadow: none;
    padding: 0;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    /* kd_login_toggle */
    /* kd_login_title */
    /* Input */
    /* Button */
}

.kd_login_card.alt .kd_login_toggle {
    position: relative;
    background: #ed2553;
    width: 140px;
    height: 140px;
    border-radius: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    color: #ffffff;
    font-size: 58px;
    line-height: 140px;
    text-align: center;
    cursor: pointer;
}

.kd_login_card.alt .kd_login_toggle:before {
    content: '\f040';
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

.kd_login_card.alt .kd_login_title,
.kd_login_card.alt .kd_login_input-container,
.kd_login_card.alt .kd_login_button-container {
    left: 100px;
    opacity: 0;
    visibility: hidden;
}

.kd_login_card.alt .kd_login_title {
    position: relative;
    border-color: #ffffff;
    color: #ffffff;
}

.kd_login_card.alt .kd_login_title .kd_login_close {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 60px;
    display: inline;
    color: #ffffff;
    font-size: 58px;
    font-weight: 400;
}

.kd_login_card.alt .kd_login_title .kd_login_close:before {
    content: '\00d7';
}

.kd_login_card.alt .kd_login_input-container input {
    color: #ffffff;
}

.kd_login_card.alt .kd_login_input-container input:focus ~ label {
    color: #ffffff;
}

.kd_login_card.alt .kd_login_input-container input:focus ~ .kd_login_input-bar:before,
.kd_login_card.alt .kd_login_input-container input:focus ~ .kd_login_input-bar:after {
    background: #ffffff;
}

.kd_login_card.alt .kd_login_input-container input:valid ~ label {
    color: #ffffff;
}

.kd_login_card.alt .kd_login_input-container label {
    color: rgba(255, 255, 255, 0.8);
}

.kd_login_card.alt .kd_login_input-container .kd_login_input-bar {
    background: rgba(255, 255, 255, 0.8);
}

.kd_login_card.alt .kd_login_button-container button {
    width: 100%;
    background: #ffffff;
    border-color: #ffffff;
}

.kd_login_card.alt .kd_login_button-container button span {
    color: #ed2553;
}

.kd_login_card.alt .kd_login_button-container button:hover {
    background: rgba(255, 255, 255, 0.9);
}

.kd_login_card.alt .kd_login_button-container button:active:before,
.kd_login_card.alt .kd_login_button-container button:focus:before {
    display: none;
}


/* Keyframes */

@-webkit-keyframes buttonFadeInUp {
    0% {
        bottom: 30px;
        opacity: 0;
    }
}

@keyframes buttonFadeInUp {
    0% {
        bottom: 30px;
        opacity: 0;
    }
}

.kd_login_card .kd_login_input-container input:focus,
.kd_login_card .kd_login_input-container input {
    outline: none;
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.kd_login_error {
    margin-left: 60px;
    font-weight: bold;
    color: #ff0000;
    margin-bottom: 20px;
}

.kd_inline-block {
    display: inline-block;
}

.kd_float-right {
    float: right;
}

.kd_right-margin {
    margin-right:30px
}

.kd_top-margin {
    margin-top:50px
}

.kd_display-none {
    display: none;
}

.kd_error_big {
    text-align: center;
    color: #ff0000;
} 

.kd_promotion {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #9b59b6;
    font-weight: bold;
    font-size: 15px;
}

#kd_main_table_length, #kd_main_table_filter {
    margin-bottom: 10px;
}

#kd_main_table_paginate .paginate_button.disabled {
    display: none;
}

#kd_main_table {
    margin-bottom: 15px;
}

#kd_main_table th {
    font-size: 12px;
}

#kd_wd_keyword_table, #kd_wd_related_keyword_table {
    margin-top: 20px;
}

#kd_wd_keyword_input {
    width: 60%;
}

#kd_wd_search, #kd_wd_close {
    margin-left: 5px;
}

#kd_wd_database {
    height: inherit;
    vertical-align: top;
    margin-left: 5px;
}

#kd_wd_related_keyword_table th {
    font-size: 12px;
}

#kd_wd_error {
    display: block;
    text-align: center;
    margin: 50px;
    font-size: 20px;
    color: #ff0000;
}

#kd_wd_actions {
    margin-top: 20px;
}

#kd_wd_actions input{
    margin-right: 10px;
}

#kd_wd_loading {
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-bottom: 20px;
    margin-top: 20px;
}